@{
}

<h2>Login</h2>

<form method="post" action='@Url.Action("Profile")'>
    <div class="demo-section k-content">
        @(Html.Kendo().Upload()
              .Name("files")
              .HtmlAttributes(new { aria_label = "files" })
              )
        <p style="padding-top: 1em; text-align: right">
            <button type="submit" class="k-button k-primary">Submit</button>
        </p>
    </div>
</form>
